@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    padding: 0px;
    /* font-family: "Josefin Sans", sans-serif !important; */
    font-family: "Playfair Display", serif !important;

}

.card img{
    max-height: 200px !important;
}

.heading{
    font-family: "Playfair Display", serif !important;
}

footer li a:hover i{
    color: #ffc107;
}

.hover-effect{
    color: #DEE2E6 !important;
}

.hover-effect:hover {
    color: #ffc107 !important;
}

@media (max-width: 768px) { 
    .user-info{
        width: 100% !important;
    }
 }
