{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}


    <div class="d-flex align-items-center py-4">
        
    <main class="form-signin m-auto" style="width: 300px!important;">
      <form action="{% url 'auctions:login' %}" method="post">
        <img class="mb-4" src="{% static 'auctions/logo.png' %}" alt="" width="72" height="70">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        {% if message %}
             <h5 class="text-danger">{{ message }}</h5 >
        {% endif %}

        {% csrf_token %}
    
        <div class="form-floating">
          <input type="text" name="username"  autofocus class="form-control" id="floatingInput" placeholder="username" style="border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" style="border-top-left-radius: 0;
    border-top-right-radius: 0;">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="form-check text-start my-3">
          <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <button class="btn btn-outline-warning w-100 py-2" type="submit">Log in</button>
      </form>
    </main>
    
    </div>
    
{% endblock %}